html, body {width:100%;height:100%;margin:0;padding: 0px;overflow:hidden ; font-family: sans-serif; }

#container {
  padding: 0px;
  margin-top: 4%;
  width: 100%;
  height: 100%;
  cursor: none;
  position: relative;
  z-index: 444;
}

video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
}
/* 
#board{
   position:relative;
   width:100%;
   height:10%;
   margin-left: 0% ;
   margin-top: 1.5% ;
}
#scoreDiv {
   position:absolute;
   width:15%;
   height:40%;
   left:0%;
   top:2%;
}
#scoreImg{
  height:100%;
  width:40%;
  float:left;
}
#scoreNumDiv{
  height:100%;
  width:57%;
  display: block;
  float: right;
}
.scoreNum{
 height:100%;
 width:25%;
 float:left;
}
#growthDiv{
  position:absolute;
  width:30%;
  height:40%;
  display: inline-block;
  left:16%;
  top:2%;
}
#growthImg{
    height:100%;
    width:28%;
    float: left;
}
#growthBarTotal{
  height:100%;
  width:70%;
  display: block;
  background-color:#333;
  border-radius: 5px ;
  float: right;
  position: relative;
}
#growthBarActual{
  height:100%;
  border-radius: 5px ;
  background-color:dodgerblue;
  display:block;
  float: left;

}
#progressNotch1{
  height:100%;
  width:1px;
  background-color: SandyBrown;
  left: 33.33%;
  display: inline-block;
  position: absolute;
}

#progressNotch2{
  height:100%;
  width:1px;
  background-color: SandyBrown;
  left:66.66%;
  display: inline-block;
  position: absolute;
}

#levelDiv{
  position:absolute;
  width:15%;
  height:40%;
  display: inline-block;
  left:47%;
  top:2%;
}
#levelImg{
    height:100%;
    width:60%;
    float: left;
}
 #levelNum{
   height:100%;
   width:15%;
   float: right;
   margin-right:22%;
 }
 #liveDiv{
  position:absolute;
  width:10%;
  height:40%;
  right:30%;
  top:2%;
}
#charImg{
  height:100%;
  width:50%;
  float: left;

}
#liveNumDiv{
  height:100%;
  width:50%;
  display: block;
  float: right;

}
.liveNum{
 height:100%;
 width:40%;
 float: left;
}
#menuDiv{
  position:absolute;
  width:30%;
  height:40%;
  left:16%;
  top:44%
}

#menuImg{
   height:100%;
   width:28%;
   float: left;
}
#menuCharDiv{
 height:100%;
 width:70%;
 display: block;
 float: right;
}

.menuChar{
height:100%;
width:20%;
float:left;
margin-left: 6.666%;
margin-right: 6.666%;
}

#seaStar{
position:absolute;
top:0px;
display: none;
height:50px;
width:50px;
}

#seaStarDiv{
 position:absolute;
 width:10%;
 height:40%;
 display: inline-block;
 left:0%;
 top:45%;
}
#seaStarImg{
   height:100%;
   width:30%;
   float: left;
}
#seaStarNum{
  height:100%;
  width:20%;
  float: right;
  margin-right:46%;
}

#badgeDiv {
   position:absolute;
   width:29%;
   height:100%;
   right:0%;
   top:2%;

}
#badgeImg{
  height:100%;
  width:20%;
  float:left;
}
#playerBadgesDiv{
  height:100%;
  width:80%;
  display: block;
  float: right;
}

.bad{
 height:100%;
 width:19%;
 margin-left: 1%;
 float:right;
 border: solid 0.5px SandyBrown;
} */

/*********************** new **********************************/

#mainBackground img{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: 555 ;
}

#EnterNameSec{

  text-align: center;
  position: absolute;
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-shadow: 8px 8px 50px #000;  
  z-index: 555 ; 
}

#EnterNameSec header{
  width: 200px;
  padding: 5px 0px;
  margin: auto;
  font-size: 30px;
  border-bottom: 3px solid rgb(0, 0, 0);
}

#EnterNameSec #nameEnter{
  width: 180px;
  margin: 40px 0px;
  font-size: 20px;
}
#btnGame{
  border-radius: 500px;
  font-size: 20px;
  padding: 5px;
  margin: 20px;
  color: black;    
}

#btnGame:hover{
  background: rgba(239, 239, 239, .1 );
  transform: scale(1.5);
  border: none;
  color: white;
  transition: 0.3s;
}
/*************/
.welcome{
  display: none;
  text-align: center;
  position: absolute;
  width: 500px;
  height: 500px;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-shadow: 8px 8px 50px #000;
  z-index: 555 ;
}
.welcome button{
  display: inline-block;
  width: 100px;
  height: 50px;
  margin: 35px 200px;
  border-radius: 12px;
  color: black;
}
.welcome button:hover{
  background: rgba(239, 239, 239, .1 );
  transform: scale(1.5);
  border: none;
  color: white;
  transition: 0.3s;
}


.how-to-play{
  display: none;
  text-align: center;
  position: absolute;
  width: 500px;
  height: 500px;
  font-size: 20px;    
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-shadow: 8px 8px 50px #000;
  z-index: 555 ; 
}
.how-to-play p{
  margin: 20px 0px;
  padding: 10px;
}
.how-to-play button{
  border-radius: 12px;
  font-size: 20px;
  color: black;
}

.how-to-play button:hover{
  background: rgba(239, 239, 239, .1 );
  transform: scale(1.5);
  border: none;
  color: white;
  transition: 0.3s;
}

.about{
  display: none;
  text-align: center;
  position: absolute;
  width: 600px;
  height: 600px;
  font-size: 20px;    
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-shadow: 8px 8px 50px #000;
  z-index: 555 ; 
}
.about button{
  border-radius: 12px;
  font-size: 20px;
  color: black;
  padding: 5px;
}

.about button:hover{
  background: rgba(239, 239, 239, .1 );
  transform: scale(1.5);
  border: none;
  color: white;
  transition: 0.3s;
}

.characters{
  display: none;
  text-align: center;
  position: absolute;
  width: 800px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-shadow: 8px 8px 50px #000;
  z-index: 555 ; 
}
.characters button{
  border-radius: 12px;
  font-size: 20px;
  color: black;
  margin: 0px 100px;
}

.characters button:hover{
  background: rgba(239, 239, 239, .1 );
  transform: scale(1.5);
  border: none;
  color: white;
  transition: 0.3s;
}
.characters img{
  margin: 50px 30px 50px 50px;
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 100px;
}
#levels div  p{
  text-align: center;
  font-size: 20px;
  padding: 50px 10px;
}
#levels div p:hover{
  transform: scale(1.5);
}
.characters p{
  margin: 50px 100px;
  font-size: 30px;
}
   
#levels{
  display: none;
  text-align: center;
  position: absolute;
  width: 500px;
  height: 600px;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  box-shadow: 8px 8px 50px #000;
  z-index: 555 ;
   
  animation-delay: 0.5s ;
  animation-duration: 2s;

}

#levels div {
  box-shadow: 8px 8px 50px #000;
  font-size: 20px;
  border-radius: 200px;
  height: 120px;
  width: 120px;
  cursor: pointer;
  display: block;
  margin: 40px 200px;
}

#levels div  p{
  text-align: center;
  font-size: 20px;
  padding: 40px 10px;
}

#levels button{
  border-radius: 12px;
  font-size: 20px;
  margin: 0px 0px 0px 30px ;
  color: black;
}
#levels button:hover{
  background: rgba(239, 239, 239, .1 );
  transform: scale(1.5);
  border: none;
  color: white;
  transition: 0.3s;
}


/**** board ****/


/* #board{
   position:relative;
   width:100%;
   height:10%;
   margin-left: 0% ;
   margin-top: 1.5% ;
}
#scoreDiv {
   position:absolute;
   width:15%;
   height:40%;
   left:0%;
   top:2%;
}
#scoreImg{
  height:100%;
  width:40%;
  float:left;
}
#scoreNumDiv{
  height:100%;
  width:57%;
  display: block;
  float: right;
}
.scoreNum{
 height:100%;
 width:25%;
 float:left;
}
#growthDiv{
  position:absolute;
  width:30%;
  height:40%;
  display: inline-block;
  left:16%;
  top:2%;
}
#growthImg{
    height:100%;
    width:28%;
    float: left;
}
#growthBarTotal{
  height:100%;
  width:70%;
  display: block;
  background-color:#333;
  border-radius: 5px ;
  float: right;
  position: relative;
}
#growthBarActual{
  height:100%;
  border-radius: 5px ;
  background-color:dodgerblue;
  display:block;
  float: left;

}
#progressNotch1{
  height:100%;
  width:1px;
  background-color: SandyBrown;
  left: 33.33%;
  display: inline-block;
  position: absolute;
}

#progressNotch2{
  height:100%;
  width:1px;
  background-color: SandyBrown;
  left:66.66%;
  display: inline-block;
  position: absolute;
}

#levelDiv{
  position:absolute;
  width:15%;
  height:40%;
  display: inline-block;
  left:47%;
  top:2%;
}
#levelImg{
    height:100%;
    width:60%;
    float: left;
}
 #levelNum{
   height:100%;
   width:15%;
   float: right;
   margin-right:22%;
 }
 #liveDiv{
  position:absolute;
  width:10%;
  height:40%;
  right:30%;
  top:2%;
}
#charImg{
  height:100%;
  width:50%;
  float: left;

}
#liveNumDiv{
  height:100%;
  width:50%;
  display: block;
  float: right;

}
.liveNum{
 height:100%;
 width:40%;
 float: left;
}
#menuDiv{
  position:absolute;
  width:30%;
  height:40%;
  left:16%;
  top:44%
}

#menuImg{
   height:100%;
   width:28%;
   float: left;
}
#menuCharDiv{
 height:100%;
 width:70%;
 display: block;
 float: right;
}

.menuChar{
height:100%;
width:20%;
float:left;
margin-left: 6.666%;
margin-right: 6.666%;
} */


/*
#seaStarDiv{
 position:absolute;
 width:10%;
 height:40%;
 display: inline-block;
 left:0%;
 top:45%;
}
#seaStarImg{
   height:100%;
   width:30%;
   float: left;
}
#seaStarNum{
  height:100%;
  width:20%;
  float: right;
  margin-right:46%;
}

#badgeDiv {
   position:absolute;
   width:29%;
   height:100%;
   right:0%;
   top:2%;

}
#badgeImg{
  height:100%;
  width:20%;
  float:left;
}
#playerBadgesDiv{
  height:100%;
  width:80%;
  display: block;
  float: right;
} */

.bad{
 height:100%;
 width:19%;
 margin-left: 1%;
 float:right;
 border: solid 0.5px SandyBrown;
}

#board {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0px;
}

#board > div {
  margin: 0 auto;
}

#growthDiv {
  display: flex;
  align-items: center;
}

#growthDiv .bar {
  width: 400px;
  border: 1px solid #ddd;
  position: relative;
}

#growthDiv .bar #growthBarActual {
  background-color: cyan;
}

#growthDiv .bar #growthBarActual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 33.3%;
  width: 2px;
  height: 24px;
  background-color: #000;
}

#growthDiv .bar #growthBarActual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 66.6%;
  width: 2px;
  height: 24px;
  background-color: #000;
}

.progressBar {
  position: relative;
}

.progressBar > img {
  position: absolute;
  width: 50px;
  top: 100%;
}

.progressBar > img:nth-child(3) {
  left: 35%;
}

.progressBar > img:nth-child(4) {
  left: 65%;
}

#seaStar {
  position: absolute;
  top: 0px;
  display: none;
  height: 50px;
  width: 50px;
}

/**** end board ***/ 




/***menues*************/
.pauseModal {
  display: none;
  position: absolute;
  z-index: 777;
  /* left: 33%; */
  top: 4.5%;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgba(0, 0, 0, 0.4); */
}


.pauseModal .modal-content {
  background-image: url(../images/BG.png);
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 40px;
  position: absolute;
  width: 25%;
  right: 40%;
}

.closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    text-align: center;
}

.btn {
  min-width: 100px;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #ccc;
  color: #315bff;
  outline: none;
  font-size: 20px;
}

.btn:hover,
.btn:active {
  box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn.exit {
  margin-top: 15px;
}
